Repository dudiq/weather-station-serv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add pins
  apps/firmware/src/enum.h
  apps/firmware/src/mod-battery.h
  apps/firmware/src/pins.h
Due: none

fix: update env for local
  apps/server/src/infra/env.ts
Due: eslint --fix, prettier --write

feat: update readme section
  .gitignore
  EPD47-Case.stl
  README.md
  apps/firmware/debug.cfg
  apps/firmware/debug_custom.json
  apps/firmware/esp32.svd
  apps/firmware/readme.md
  apps/server/.env
Due: prettier --write

refactor: update battery render, move ui outside from interface
  .env
  apps/firmware/src/mod-drawing.h
  apps/firmware/src/pins.h
  apps/firmware/src/section-status-bar.h
  apps/server/environment.d.ts
  apps/server/src/infra/env.ts
  apps/server/src/interface/routes/get-weather.route.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.ts
  apps/server/src/interface/service/get-sleep-seconds/index.ts
  apps/server/src/interface/ui/blocks/get-example-texts.ts
  apps/server/src/interface/ui/sections/moon-section.ts
  apps/server/src/interface/ui/types.ts
  apps/server/src/ui/kit/field-block.ts
  apps/server/src/ui/render.block.ts
  apps/server/src/ui/sections/current-section.ts
  apps/server/src/ui/sections/datetime-section.ts
  apps/server/src/ui/sections/details-section.ts
  apps/server/src/ui/sections/forecast/forecast-block.ts
  apps/server/src/ui/sections/forecast/index.ts
  apps/server/src/ui/sections/moon-section/get-moon-icon.ts
  apps/server/src/ui/sections/moon-section/get-moon-phase-title.ts
  apps/server/src/ui/sections/moon-section/index.ts
  apps/server/src/ui/sections/moon-section/moon-section.ts
  apps/server/src/ui/types.ts
Due: eslint --fix, prettier --write

fix: update langs and sleep seconds
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/src/infra/env.ts
  apps/server/src/interface/routes/get-weather.route.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.test.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.ts
  apps/server/src/ui/sections/datetime-section.ts
  apps/server/src/ui/sections/moon-section/get-moon-phase-title.ts
  apps/server/tsconfig.json
  packages/errors/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: change wind speed to m/s
  apps/firmware/firmware.ino
  apps/server/src/infra/adapter/accu/units/get-meters-per-second-to-km-per-hour.ts
  apps/server/src/infra/adapter/accu/units/get-speed.ts
  apps/server/src/infra/adapter/accu/weather-current/accu.weather-current.mapper.ts
  apps/server/src/infra/env.ts
Due: eslint --fix, prettier --write

fix: update title for m/s
  apps/server/src/ui/sections/details-section.ts
Due: eslint --fix, prettier --write

fix: show floor
  apps/server/src/ui/sections/details-section.ts
Due: eslint --fix, prettier --write

feat: add cache for requests
  .env
  .gitignore
  apps/server/package.json
  apps/server/src/core/value-objects/weather-forecast.value-object.ts
  apps/server/src/infra/adapter/accu/weather-current/accu.weather-current.adapter.ts
  apps/server/src/infra/adapter/accu/weather-forecast/accu.weather-forecast.adapter.ts
  apps/server/src/infra/cache-file.ts
  apps/server/src/infra/env.ts
  apps/server/src/interface/routes/get-weather.route.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.test.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.ts
  apps/server/src/ui/render.block.ts
  apps/server/src/ui/sections/moon-section/get-moon-phase-title.ts
  environment.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

update percentage drawing
  apps/firmware/debug_custom.json
  apps/firmware/env.example.h
  apps/firmware/firmware.ino
  apps/firmware/src/mod-battery.h
  apps/firmware/src/mod-drawing.h
  apps/firmware/src/section-status-bar.h
Due: prettier --write

fix: update fonts, remove unused
  .gitignore
  apps/firmware/fonts/create-font.bat
  apps/firmware/fonts/inbox/DuduCyrillic.ttf
  apps/firmware/fonts/inbox/Dudu_Cyrillic.ttc
  apps/firmware/fonts/inbox/FirstTimeWriting!.ttc
  apps/firmware/fonts/inbox/FirstTimeWriting.ttf
  apps/firmware/fonts/inbox/Meteocons.ttc
  apps/firmware/fonts/inbox/MoonPhases-Regular.ttc
  apps/firmware/fonts/inbox/NotCourierSans-Bold.otf
  apps/firmware/fonts/inbox/NotCourierSans-Bold.ttc
  apps/firmware/fonts/inbox/OpenSans-Regular.ttc
  apps/firmware/fonts/inbox/OpenSans-Regular.ttf
  apps/firmware/fonts/inbox/SourceCodePro-Regular.ttc
  apps/firmware/fonts/inbox/SourceCodePro-Regular.ttf
  apps/firmware/fonts/inbox/Vasek Italic_0.ttf
  apps/firmware/fonts/inbox/Vasek-Italic.ttc
  apps/firmware/fonts/inbox/meteocons-webfont.ttf
  apps/firmware/fonts/inbox/moon_phases.ttf
  apps/firmware/src/fonts/textLg.h
  apps/firmware/src/fonts/textMd.h
  apps/firmware/src/fonts/textXl.h
Due: none

update battery drawing
  apps/firmware/src/mod-battery.h
  apps/firmware/src/mod-display-epd.h
  apps/firmware/src/pins.h
Due: none

feat: add router async storage
  apps/server/src/interface/render.ts
  apps/server/src/interface/routes/get-weather.route.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.test.ts
  apps/server/src/interface/service/get-sleep-seconds/get-sleep-seconds.ts
  apps/server/src/interface/service/router-async-storage.ts
  apps/server/src/ui/app.block.ts
  apps/server/src/ui/render.block.ts
  apps/server/src/ui/sections/current-section.ts
  apps/server/src/ui/sections/datetime-section.ts
  apps/server/src/ui/sections/details-section.ts
  apps/server/src/ui/sections/forecast/forecast-block.ts
  apps/server/src/ui/sections/moon-section/moon-section.ts
  apps/server/src/ui/types.ts
  apps/server/tsconfig.json
Due: eslint --fix, prettier --write

fix: update moon quater
  apps/server/src/core/value-objects/weather-forecast.value-object.ts
  apps/server/src/ui/sections/moon-section/get-moon-phase-title.ts
Due: eslint --fix, prettier --write

feat: move hours to env
  .env
  apps/server/src/interface/routes/get-weather.route.ts
  environment.d.ts
Due: eslint --fix, prettier --write

feat: add docker image build
  .dockerignore
  app.dockerfile
  apps/server/src/infra/service/server-answer.ts
  docker-compose.yaml
  package.json
Due: eslint --fix, prettier --write

feat: add local
  app.dockerfile
Due: none

update psram warning
  apps/firmware/firmware.ino
Due: none

fix: update docker file
  .dockerignore
  app.dockerfile
  docker-compose.yaml
Due: none

fix: remove unused
  README.md
  examples/www-image/README.md
  examples/www-image/debug.cfg
  examples/www-image/debug_custom.json
  examples/www-image/esp32.svd
  examples/www-image/pins.h
  examples/www-image/www-image.ino
Due: prettier --write

fix: update ignores
  .gitignore
Due: none

fix env files
  docker-compose.yaml
Due: none

fix: update turbo
  turbo.json
Due: prettier --write

fix: update env declaration
  docker-compose.yaml
Due: none

fix: update temp calculations
  apps/server/package.json
  apps/server/src/infra/adapter/met.no/get-forecast-days.ts
  apps/server/src/infra/adapter/met.no/units/extract-day-data.ts
Due: eslint --fix, prettier --write

fix: calc min/max
  apps/server/src/infra/adapter/met.no/units/extract-day-data.ts
Due: eslint --fix, prettier --write

fix: update expire check, update current data get
  apps/server/src/infra/adapter/accu/weather-current/accu.weather-current.adapter.ts
  apps/server/src/infra/adapter/accu/weather-forecast/accu.weather-forecast.adapter.ts
  apps/server/src/infra/adapter/met.no/met-no.weather-current.mapper.ts
  apps/server/src/infra/adapter/met.no/met-no.weather-current.ts
  apps/server/src/infra/cache-file.ts
Due: eslint --fix, prettier --write

update network
  docker-compose.yaml
Due: none

Path conditions:
  eslint --fix: any of: apps/**/*.{js,jsx,ts,tsx,html}
  prettier --write: (any of: apps/**/*.{js,jsx,ts,tsx,html}) or (any of: *.json)
